$paleta:(
    'bg': #1C232E,
    'bg-nav': #03484C,
    'acento': #3B8952,
    'blanco': #FEFFFA,
    'negro': #212322,
    'verdeOscuro': #0F684B,
    'verdeClarito': #53AC59,
    'clarito':#10c246,
    'hover':#04d689,
    'gris':#9c9c9c
);

//MIXINS

@mixin box($border, $radius, $shadow, $width, $height) {
    border: $border;
    border-radius: $radius;
    box-shadow: $shadow;
    width: $width;
    height: $height;
}

@mixin flex($justify, $align, $direction){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
//VARS
$borde: 1px solid map-get($map: $paleta, $key:'negro' );
$redondeo: 15px;
$sombra: rgb(14, 14, 15) 0px 20px 30px -10px;



// PONIENDO LOS COLORES
body {
    background-color: map-get($map: $paleta, $key:'bg' );
    color: map-get($map: $paleta, $key:'blacno' );
}

h1 {
    color: map-get($map: $paleta, $key:'blanco' );
}
.navbar-brand {
    color: map-get($map: $paleta, $key:'blanco' );
}

.card {
    background-color: transparent;
    color: map-get($map: $paleta, $key: 'blanco' );
    border: 1px solid map-get($map: $paleta, $key:'blanco' );
}

ul {
    margin: 0;
    padding: 0;
}