nav {
    display: flex;
    justify-content: space-around; /* Centrar horizontalmente el grupo de enlaces */
    align-items: center; /* Centrar verticalmente el grupo de enlaces */
    background-color: #034B4C; /* Añade un color de fondo si lo deseas */
    .nav {
        display: flex;
        align-items: center; /* Centrar los elementos hijos verticalmente */
    }
    .burger {
        width: 5vw;
    }
    .nav-link {
        color: #FEFFFA;
    }
    .nav-link:hover {
        color: #a5aab4;
    }
    .navbar-collapse {
        margin-top: 0;
    }
    .navbar-toggler {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        transition: all 0.3s ease-out;
        border: none;
      }
      
    .navbar-toggler:hover {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        opacity: 0.75;
      }

    @media screen and (max-width: 991px) {
        .navbar-collapse {
            margin-top: 15px;
            text-align: center;
        }
    }
}


// TRABAJOS

main {
    .card {
        padding: 0;
        img {
            border-bottom: 1px solid map-get($map: $paleta, $key:'blanco' );
        }
    }
    .row {
        display: flex;
        justify-content: space-around;
        .carta {
        max-width: 45%;
        }
    }
    .cartaXl {
        max-width: 95%;
        margin: 25px 0;
        .card-img-top {
            max-height: 600px;
            object-fit: cover;
        }
    }
    
    @media screen and (max-width: 991px) {
        .row {
            justify-content: center;
            .carta {
            max-width: 100%;
            margin: 10px 0;
            }
            .cartaXl {
                max-width: 100%;
                margin: 10px 0;

            }
        }
    }
}

// NOSOTROS

section {
    .row {
        display: flex;
        justify-content: space-around;
    }
}
